.footer-section{
    background-color:#111827;
    padding:30px 0;
    color:white;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.footer-content p{
    margin:0;
    color:#cbd5e1;
}

.social-icons a{
    color:white;
    font-size:28px;
    margin-left:20px;
    transition:0.3s;
}

.social-icons a:hover{
    color:#38bdf8;
}

@media(max-width:768px){

    .footer-content{
        flex-direction:column;
        text-align:center;
        gap:20px;
    }

    .social-icons a{
        margin:0 10px;
    }

}