.navbar{
    background-color:#0f172a !important;
    padding:15px 30px;
}

.navbar-brand{
    color:#38bdf8 !important;
    font-size:24px;
}

.nav-link{
    color:white !important;
    margin-left:20px;
    transition:all 0.3s ease;
}
.nav-link:hover{
    color:#38bdf8 !important;
}
@media(max-width:991.98px){

    .navbar{
        padding:15px;
    }

    .navbar-collapse{
        max-height:calc(100vh - 70px);
        overflow-y:auto;
        overscroll-behavior:contain;
    }

    .navbar-nav{
        margin-top:15px;
        text-align:center;
    }

    .nav-link{
        margin-left:0;
        margin-bottom:10px;
    }

}
