.navbar{
    background-color:#0f172a !important;
    padding:15px 30px;
}

.navbar-brand{
    color:#38bdf8 !important;
    font-size:24px;
}

.nav-link{
    color:white !important;
    margin-left:20px;
    transition:0.3s;
}

.nav-link:hover{
    color:#38bdf8 !important;
}