.skills-section{
    padding:100px 0;
    background-color:#0f172a;
    color:white;
}

.section-title{
    font-size:42px;
    font-weight:700;
    color:#38bdf8;
}

.skill-card{
    background-color:#1e293b;
    padding:35px;
    border-radius:20px;
    height:100%;
    transition:0.3s;
}

.skill-icon{
    width:56px;
    height:56px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:16px;
    background-color:#0f172a;
    color:#38bdf8;
    font-size:30px;
    margin-bottom:22px;
}

.skill-card:hover{
    transform:translateY(-8px);
}

.skill-card h3{
    margin-bottom:25px;
    color:#38bdf8;
}

.skill-card ul{
    list-style:none;
    padding:0;
}

.skill-card ul li{
    margin-bottom:15px;
    font-size:18px;
    color:#cbd5e1;
    overflow-wrap:anywhere;
}
.skills-section{
    padding:120px 0;
}
.skill-card{
    background-color:#1e293b;
    padding:40px;
    border-radius:20px;
    transition:all 0.4s ease;
}
.skill-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
}

.skill-card:hover .skill-icon{
    background-color:#38bdf8;
    color:#0f172a;
}
@media(max-width:768px){

    .skill-card{
        padding:25px;
    }

}
