<section id="skills" class="skills-section">

    <div class="container">

        <h2 class="section-title text-center">
            Skills
        </h2>

        <div class="row g-4 mt-5">

            <div class="col-lg-4">

                <div class="skill-card">

                    <h3>Frontend</h3>

                    <ul>
                        <li>Angular</li>
                        <li>TypeScript</li>
                        <li>Bootstrap</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="skill-card">

                    <h3>Backend</h3>

                    <ul>
                        <li>ASP.NET Core</li>
                        <li>C#</li>
                        <li>Web API</li>
                        <li>Entity Framework Core</li>
                    </ul>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="skill-card">

                    <h3>Database</h3>

                    <ul>
                        <li>SQL Server</li>
                        <li>Stored Procedures</li>
                        <li>SQL Queries</li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

</section>