* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
}

.section-title {
    margin-bottom: 60px;
    letter-spacing: 1px;
}

p {
    line-height: 1.9;
}

.project-card,
.skill-card {
    padding: 40px;
}

.hero-buttons {
    margin-top: 35px;
}

section {
    scroll-margin-top: 80px;
}

@media(max-width:768px) {

    .hero-title {
        font-size: 42px;
    }

    .section-title {
        font-size: 32px;
    }

    .project-card,
    .skill-card {
        padding: 25px;
    }
      section{
        padding-left:20px;
        padding-right:20px;
    }


}
.btn{
    transition:all 0.3s ease !important;
}

.btn:hover{
    transform:translateY(-3px);
}
body{
    overflow-x:hidden;
}

img{
    max-width:100%;
}